<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>TMDB_BEARER_TOKEN</key>
	<string>eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiI3MTIyYmMyNGIyNDQ3ZTM1OGU5MTJhYTA2YmRkMmEzMyIsIm5iZiI6MTcwOTA3NjM5NC40MTEsInN1YiI6IjY1ZGU2ZmFhYjM5ZTM1MDE4NjJmMWUwOCIsInNjb3BlcyI6WyJhcGlfcmVhZCJdLCJ2ZXJzaW9uIjoxfQ.OmcbeG9_S460YWCgQtkUxHloi2wWXuSqtKcT6dHLipY</string>
</dict>
</plist>
